<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
    <string>153638974108-l9oag3f0neng9ql79j3n1h7f1rjl3592.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.153638974108-l9oag3f0neng9ql79j3n1h7f1rjl3592</string>
    <key>API_KEY</key>
	<string>AIzaSyCTbI_nDmUI4ihM8yE2MlrSUMZaUGlWKB4</string>
	<key>GCM_SENDER_ID</key>
	<string>153638974108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.josephsmartapp.SMAART</string>
	<key>PROJECT_ID</key>
	<string>smaart-d4bdd</string>
	<key>STORAGE_BUCKET</key>
	<string>smaart-d4bdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153638974108:ios:c92e3c139294b4a0d1f359</string>
</dict>
</plist>